[defaults]
url: https://supercdms-dev.slac.stanford.edu/datacat-v0.6/r
#auth_type: HMACAuthSRS
#auth_key_id: 584a73ba-af6f-428b-93b0-5e1afdb436bd
#auth_secret_key: YTO2uH/uvrmu1Ihl6E7ADA/tsdhb4tGgPKVIMRoD4i+4Lat+VP9v04Go/XlKeG0N6al++mGDOeU9J2uRNeHrOg==

